.App {
  text-align: center;
}

.header-name {
  font-family: OCR A;
  font-size: 72px;
  color: #0ccac4;
  padding: 50px 0px;
}

.searching-components {
  display: flex;
  justify-content: center;
  background: rgb(240, 240, 240);
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}